@model IEnumerable<DepartmentVM>
@{
    ViewData["Title"] = "Departments";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}
<style>
    tr {
        text-align: center !important;
    }
</style>

<h2>Departments</h2>

<a asp-controller="Department" asp-action="Create" class="btn btn-primary">Create New Department</a>
<table class="table table-hover table-striped text-center table-bordered fw-bold">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Code</th>
    <th>Details</th> 
    <th>Edit</th>
    <th>Delete</th>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.Id</td>
                <td>@department.Name</td>
                <td>@department.Code</td>
                <td>
                    <a asp-controller="Department" asp-action="Details" asp-route-id="@department.Id" class="btn btn-success">Details</a>
                </td>
                <td>
                    <a asp-controller="Department" asp-action="Edit" asp-route-id="@department.Id" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a asp-controller="Department" asp-action="Delete" asp-route-id="@department.Id" class="btn btn-danger" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>